solution/processing/pipelines/pp-int-run-w-logging.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "Invoke Orchestration Pipeline",
        "type": "InvokePipeline",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "waitOnCompletion": true,
          "operationType": "InvokeFabricPipeline",
          "pipelineId": {
            "value": "@pipeline().libraryVariables.vlintvariables_ORCH_PIPELINE_ID",
            "type": "Expression"
          },
          "workspaceId": {
            "value": "@pipeline().libraryVariables.vlintvariables_PROCESSING_WORKSPACE_ID",
            "type": "Expression"
          },
          "parameters": {}
        },
        "externalReferences": {
          "connection": "f9753275-66ce-4395-9f7a-02390c535690"
        }
      },
      {
        "name": "Logging Notebook",
        "type": "TridentNotebook",
        "dependsOn": [
          {
            "activity": "Invoke Orchestration Pipeline",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "notebookId": {
            "value": "@pipeline().libraryVariables.vlintvariables__LOGGING_NOTEBOOK_ID",
            "type": "Expression"
          },
          "workspaceId": {
            "value": "@pipeline().libraryVariables.vlintvariables_PROCESSING_WORKSPACE_ID",
            "type": "Expression"
          },
          "parameters": {
            "status": {
              "value": {
                "value": "@activity('Invoke Orchestration Pipeline').Status\n",
                "type": "Expression"
              },
              "type": "string"
            },
            "execution_output": {
              "value": {
                "value": "@string(\n        if(equals(\n                activity('Invoke Orchestration Pipeline').Status, 'Succeeded'), \n                activity('Invoke Orchestration Pipeline').output, \n                activity('Invoke Orchestration Pipeline').error\n        )\n)\n",
                "type": "Expression"
              },
              "type": "string"
            },
            "pipeline_run_id": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "string"
            },
            "pipeline_trigger_time": {
              "value": {
                "value": "@pipeline().TriggerTime",
                "type": "Expression"
              },
              "type": "string"
            },
            "pipeline_id": {
              "value": {
                "value": "@pipeline().Pipeline",
                "type": "Expression"
              },
              "type": "string"
            }
          },
          "sessionTag": "sesh"
        },
        "externalReferences": {
          "connection": "f5856a08-713c-467a-8b8c-a805a574f176"
        }
      }
    ],
    "libraryVariables": {
      "vlintvariables_ORCH_PIPELINE_ID": {
        "type": "String",
        "variableName": "ORCH_PIPELINE_ID",
        "libraryName": "vl-int-variables"
      },
      "vlintvariables__LOGGING_NOTEBOOK_ID": {
        "type": "String",
        "variableName": "_LOGGING_NOTEBOOK_ID",
        "libraryName": "vl-int-variables"
      },
      "vlintvariables_PROCESSING_WORKSPACE_ID": {
        "type": "String",
        "variableName": "PROCESSING_WORKSPACE_ID",
        "libraryName": "vl-int-variables"
      }
    }
  }
}